/* =================== Global =================== */

.sb-option {
    font-family: arial, lucinda, verdana, geneva, sans-serif;
}

button.sb-button {
    background-color: #0074a2;
    border: 1px solid #004f6f;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
}

button.sb-button:hover {
    background-color: #469df5;
    border: 1px solid #1b93df;
}

a.toplevel_page_sb_options .wp-menu-image {
    background-image: url("../images/sb-options-icon.png");
}

a.toplevel_page_sb_options:hover .wp-menu-image {
    background-image: url("../images/sb-options-hover-icon.png");
}

.wp-menu-open a.toplevel_page_sb_options:hover .wp-menu-image,
.wp-menu-open a.toplevel_page_sb_options .wp-menu-image {
    background-image: url("../images/sb-options-open-icon.png");
}

a.toplevel_page_sb_options .wp-menu-image {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    opacity: 0.7;
}

.toplevel_page_sb_options.wp-has-current-submenu .wp-menu-image,
a.toplevel_page_sb_options.current .wp-menu-image {
    opacity: 1;
}

#sbPostCats {
    display: none;
}

a:focus {
    outline: 0 none;
}

.sb-option a:focus {
    box-shadow: none;
}

.sb-widget {

}

.sb-widget .sb-media-upload input.image-url {
    display: block;
    margin: 0;
    width: 100%;
}

.sb-widget .sb-media-upload label {
    line-height: 1.5;
}

.sb-widget .sb-media-upload .sb-button {
    margin-right: 5px;
    margin-top: 10px;
}

.widget label {
    display: inline-block;
    margin-bottom: 3px;
}

.sb-widget em {
    color: #777;
    display: block;
    font-style: normal;
    margin-top: 5px;
}

.sb-widget .sb-insert-media {
    margin-top: 10px;
}

#media-upload #media-search {
    height: 35px;
    margin: 0;
    right: 5px;
    top: 100px;
    width: 330px;
}

#media-upload {
    min-height: 1120px;
    position: relative;
}

#media-upload #media-search label,
#media-upload #media-search input {
    float: left;
}

#media-upload #media-search  #media-search-input {
    margin-right: 10px;
    width: 200px;
}

#media-upload #media-search .button {

}

#media-upload.wp-core-ui .field .button {
    margin-right: 5px;
    margin-top: 10px;
}

#media-upload #go_button {

}

#media-upload.wp-core-ui .drag-drop-buttons .button,
#media-upload.wp-core-ui .actions .button,
#media-upload.wp-core-ui .savesend .button {
    height: 28px;
}

#media-upload.wp-core-ui .ml-submit .button,
#media-upload.wp-core-ui .field .button,
#media-upload #go_button,
#media-upload #media-search .button {
    height: 30px;
}

.media-item .pinkynail {
    margin-top: 8px;
}

#media-items .media-item {
    min-height: 50px;
}

.display-block {
    display: block;
}

.width-small {
    width: 25%;
}

.width-medium {
    width: 50%;
}

.width-large {
    width: 100%;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bttom-10 {
    margin-bottom: 10px;
}

.sbt-admin-notice.notice-warning {
    border-color: #f0ad4e;
}

.sbt-admin-notice.notice-success {
    border-color: #5cb85c;
}

.sbt-admin-notice.notice-info {
    border-color: #5bc0de;
}

.sbt-admin-notice.notice-danger {
    border-color: #d9534f;
}

.sb-option input[type="radio"] {
    margin-top: 0;
}

.sb-option .has-button .sb-button {
    margin-left: 20px;
    min-width: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.sb-option .test-mail-debug pre {
    background-color: rgb(236, 236, 236);
    max-width: 600px;
    min-height: 200px;
    overflow: scroll;
    padding: 20px;
}

/* ======================================
	SB Widget
====================================== */

.sb-checkbox {
    vertical-align: -3px !important;
}

.sb-number {
    width: 80px;
}

.sb-number.widefat {
    width: 100%;
}

.sb-number.image-size {
    width: 60px;
}

.sb-widget fieldset {
    border: 1px solid #ddd;
    margin-bottom: 1em;
    padding: 10px;
}

.sb-widget legend {
    margin-left: 10px;
}

.sb-theme-sidebar ul.sb-sortable-list {
    border: medium none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.sb-option .sb-theme-sidebar .sb-sortable-list li {
    padding-left: 50px;
}

.sb-option .sb-theme-sidebar .sb-sortable-list li > img {
    margin-left: 5px;
    top: 18px;
}

.sb-sidebar-group li .sb-icon-delete {
    left: 25px;
}

.sb-sidebar-group li .sb-icon-drag {
    left: 5px;
}

.sb-sidebar-group li .sb-icon-delete,
.sb-sidebar-group li .sb-icon-drag {
    top: 18px;
}

.sb-option .sb-theme-sidebar .sb-sidebar-line > input {
    width: 45%;
}

.sb-option .sb-theme-sidebar .sb-sidebar-line > input:last-child {
    width: 21%;
}

.sb-option .sb-theme-sidebar .sb-sidebar-line > input:first-child {
    width: 30%;
}

/* ======================================
	Hide all SB Plugins
====================================== */

.wp-list-table.plugins #sb-core .row-actions span:first-child,
.wp-list-table.plugins #sb-banner-widget,
.wp-list-table.plugins #sb-clean,
.wp-list-table.plugins #sb-comment,
.wp-list-table.plugins #sb-core,
.wp-list-table.plugins #sb-login-page,
.wp-list-table.plugins #sb-paginate,
.wp-list-table.plugins #sb-post-widget,
.wp-list-table.plugins #sb-tab-widget,
.wp-list-table.plugins #sb-tbfa {
    display: none;
}

/* ======================================
	SBTheme Options
====================================== */

.sbtheme-container {
    background-color: #f3f3f3;
    border: 1px solid #d5d5d5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin-top: 5px;
    overflow: hidden;
}

.sbtheme-header {
    background-color: #1b93df;
    color: #fff;
    height: 50px;
    padding: 15px;
}

.sbtheme-header h2 {
    color: #fdfdfd;
    display: inline-block;
}

.sbtheme-header span {
    font-size: 16px;
    opacity: 0.5;
}

.sbtheme-content {
    border-top: 3px solid #ffbf00;
    overflow: hidden;
}

.sbtheme-content {
    position: relative;
}

.sbtheme-upload.media input {
    height: 27px;
    margin-right: 10px;
    min-width: 390px;
}

.sbtheme-content .sidebar {
    float: left;
    width: 220px;
}

.sbtheme-content .main {
    background-color: #fcfcfc;
    border-left: 1px solid #d8d8d8;
    box-shadow: 0 1px 0 #fff inset;
    margin-left: 220px;
    min-height: 550px;
    overflow: hidden;
    padding: 0 20px;
}

.sbtheme-footer {
    background-color: #eee;
    border-top: 1px solid #e7e7e7;
    padding: 10px;
}

.sbtheme-footer p {
    color: #999;
    margin: 0;
}

.sbtheme-copyright a {
    text-decoration: none;
}

.widget .sb-media-upload .image-preview,
.sb-media-upload .image-preview,
.sbtheme.image.thumbnail {
    background-image: url("../images/no-thumbnail-bg.png");
}

.widget .sb-media-upload .image-preview,
.sb-media-upload .image-preview,
.sbtheme.image.thumbnail {
    background-color: #f9f9f9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #ddd;
    height: 250px;
    margin-bottom: 10px;
    width: 320px;
}

.widget .sb-media-upload.small .image-preview,
.sb-media-upload.small .image-preview,
.sbtheme.image.thumbnail.sb_options_theme_favicon {
    height: 100px;
    width: 120px;
}

.sbtheme.image.thumbnail img {
    height: 100%;
    max-width: 100%;
}

.sbtheme.image.thumbnail.uploaded {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    display: block;
    height: auto;
}

.sbtheme-copyright {
    text-align: center;
}

.sbtheme-list-section {
    padding: 0;
}

.sbtheme-list-section li {
    margin: 0;
}

.sbtheme-list-section li a {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #f9f9f9;
    color: #555;
    display: block;
    padding: 10px 4px 10px 14px;
    text-decoration: none;
}

.sbtheme-list-section li:first-child {
    border-top: 1px solid #e7e7e7;
}

.sbtheme-list-section li:first-child a {

}

.sbtheme-list-section li:last-child {
    border-bottom: 1px solid #f9f9f9;
}

.sbtheme-list-section li:last-child a {

}

.sbtheme-list-section {
    margin: 2px 0 0;
}

.sbtheme-list-section li.active a {
    background-color: #fcfcfc;
    border-right: 1px solid #fcfcfc;
    box-shadow: none !important;
    cursor: auto;
    font-weight: 700;
    margin-right: -1px;
    outline: 0 none !important;
}

.sbtheme-list-section li:hover a {
    background-color: #e5e5e5;
}

.sbtheme-list-section li.tab-general .tab-icon {
    vertical-align: -4px;
}

.sbtheme-list-section li.active:hover a {
    background-color: #fcfcfc;
}

.sbtheme-list-section .tab-icon {
    background-position: center center;
    background-size: 100% 100%;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    vertical-align: -3px;
    width: 20px;
}

.sbtheme-content .main h3 {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sbtheme-content .main tr {
    border-bottom: 1px solid #f5f5f5;
}

.sbtheme-list-section .tab-icon.general {
    background-image: url("../images/tab-general-icon.png");
}

.sbtheme-list-section .tab-icon.home {
    background-image: url("../images/tab-home-icon.png");
}

.sbtheme-list-section .tab-icon.social {
    background-image: url("../images/tab-social-icon.png");
}

.sbtheme-option-section {
    min-height: 450px;
}

.sbtheme-option-section.active {
    display: block;
}

.sbtheme.image.thumbnail img {
    cursor: pointer;
}

.sbtheme-list-section .tab-icon.sb_paginate,
.sb-tabs .plugin .tab-icon {
    background-image: url("../images/tab-plugin-icon.png");
}

.sbtheme-list-section .tab-icon.account {
    background-image: url("../images/tab-account-icon.png");
}

.sbtheme-list-section .tab-icon.sb_options {
    background-image: url("../images/tab-about-icon.png");
}

.sbtheme-content .switch-button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    padding: 8px 15px;
    white-space: nowrap;
}

.sbtheme-content .switch-button.left {
    border-bottom-left-radius: 5px;
    border-right: 0 none;
    border-top-left-radius: 5px;
    float: left;
}

.sbtheme-content .switch-button.right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sbtheme-content .switch-button span {
    display: block;
}

.sbtheme-content .switch-button.on.active {
    background-color: #0074a2;
    border-color: #004f6f;
}

.sbtheme-content .switch-button.off.active {
    background-color: #646464;
    border-color: #767676;
}

.sbtheme-content .switch-button.active {
    color: #fff;
    cursor: default;
}

.sbtheme-footer .left {
    float: left;
}

.sbtheme-footer .right {
    position: absolute;
    right: 0;
    top: 7px;
}

.sb-social-list {
    margin: 0;
}

.sb-social-list li {
    float: right;
    margin: 0 10px 0 0;
}

.sb-social-list li a {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    height: 24px;
    width: 24px;
}

.sbtheme-footer,
.sb-social-list {
    overflow: hidden;
}

.sb-social-list li.github a {
    background-image: url("../images/social-github-icon.png");
    background-size: 36px 36px;
}

.sb-social-list li.facebook a {
    background-image: url("../images/social-facebook-icon.png");
    background-size: 26px 26px;
}

.sb-social-list li.twitter a {
    background-image: url("../images/social-twitter-icon.png");
    background-size: 24px 24px;
}

.sbtheme-footer {
    position: relative;
}

.sbtheme-about .sb-version {
    font-size: 17px;
}

.sbtheme-about a {
    text-decoration: none;
}

.sbtheme-about {

}

.sbtheme-about p {

}

.sbtheme-about p.sb-donate {
    margin: 20px 0;
}

.sb-option {

}

.sb-option #submit {
    line-height: 1;
}

.sbtheme-list-section .tab-icon.tivi {
    background-image: url("../images/tab-tivi-icon.png");
}

.sbtheme-list-section .tab-icon.ads,
.sb-tabs .tab-item.theme .tab-icon {
    background-image: url("../images/tab-theme-icon.png");
}

.sb-tabs .tab-item.theme .tab-icon.sbt_checkout {
    background-image: url("../images/icon-cart-32.png");
}

.sb-tabs .tab-item.theme .tab-icon.sbt_advanced {
    background-image: url("../images/icon-settings-advanced-32.png");
}

.sb-tabs .tab-item.theme .tab-icon.sbt_smtp_email {
    background-image: url("../images/icon-email-32.png");
}

.sb-tabs .tab-item.statistics .tab-icon {
    background-image: url("../images/icon-statistics.png");
}

.tab-sbt_smtp_email .group-title {
    vertical-align: 2px;
}

.sb-option .top-save-button {
    position: absolute;
    right: 20px;
    top: 0;
}

.sb-option .top-save-button p {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.sb-option input[type="text"] {
    line-height: 21px;
}

.sb-option .form-table .description {
    color: #aaa;
    font-style: normal;
}

.sb-option .form-table .sb-color-options .description {
    margin-top: 0;
}

.sb-option .form-table .sb-color-options .color-area {
    float: left;
    margin-top: 20px;
    width: 50%;
}

.sb-option .form-table .sb-color-options .color-area:nth-of-type(1),
.sb-option .form-table .sb-color-options .color-area:nth-of-type(2) {
    margin-top: 0;
}

.sb-plugins .sub-tabs {
    float: left;
    font-size: 13px;
    list-style: none outside none;
    margin: 8px 0 0;
    padding: 0;
}

.sb-plugins .sub-tabs li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.sb-plugins .sub-tabs li a {
    text-decoration: none;
}

.sb-plugins .sub-tabs li a.current {
    color: #000;
    font-weight: 600;
}

.sb-plugins .plugin-card .desc, .sb-plugins .plugin-card .name {
    margin-left: 0;
    margin-right: 0;
}

.sb-plugins .plugin-card-bottom > div {
    margin-bottom: 5px;
}

.sb-plugins .button {
    float: right;
}

.sb-plugins .plugin-card-top {
    overflow: hidden;
}

.sb-plugins .plugin-card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.sbtheme-content .reset-button {
    bottom: 25px;
    position: absolute;
    right: 20px;
}

.sbtheme-content .reset-button img {
    display: none;
    margin-left: 10px;
    vertical-align: -3px;
}

.sb-theme-sidebar > div {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    padding: 0 10px;
}

.sb-theme-sidebar .widget-description {
    display: inline-block;
}

.sb-theme-sidebar .sb-sidebar-line > input {
    border: 1px solid #ddd;
    color: #bbb;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
}

.sb-theme-sidebar .sb-user-sidebar .sb-sidebar-line > input,
.sb-theme-sidebar .sb-default-sidebar .sb-sidebar-line > input {
    margin-right: 0.3em;
}

.sb-theme-sidebar .sb-add-sidebar {
    float: right;
    margin-top: 10px;
}

.sb-theme-sidebar .sb-sidebar-line > input {
    margin-right: 8px;
    width: 40%;
}

.sb-theme-sidebar .sb-sidebar-line > input:first-child {
    width: 28%;
}

.sb-theme-sidebar .sb-sidebar-line > input:last-child {
    margin-right: 0;
    width: 28%;
}

.sb-sidebar-group ul li {
    position: relative;
}

.sb-sidebar-group li .sb-icon-delete,
.sb-sidebar-group li .sb-icon-drag {
    position: absolute;
    top: 10px;
}

.sb-sidebar-group li .sb-icon-drag {
    cursor: move;
    left: 0;
}

.sb-sidebar-group li .sb-icon-delete {
    cursor: pointer;
    left: 20px;
}

.sb-sidebar-group ul li {
    padding-left: 40px;
}

.sb-option .sb-sortable-list li.ui-state-highlight,
.sb-sortable-list .ui-state-highlight {
    background-color: #fbf9ee;
    border: 1px solid #fcefa1;
    color: #363636;
}

.sb-sidebar-group .sb-sortable-list .ui-state-highlight {
    min-height: 18px;
}

ul.sb-sortable-list {
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    margin-top: 0;
    min-height: 200px;
    padding: 15px;
    width: 43%;
}

ul.sb-sortable-list.sortable-row {
    box-sizing: border-box;
    min-height: 70px;
    width: 100%;
}

ul.sb-sortable-list.active-sortable {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.form-table .sbt-row-setting ul.sortable-row.display-inline {
    padding-left: 10px;
    padding-right: 10px;
}

.form-table .sbt-row-setting ul.sortable-row + .description {
    margin: -10px 0 10px;
}

.form-table .sbt-row-setting ul.sortable-row {
    overflow: hidden;
}

.form-table .sbt-row-setting ul.sortable-row.display-inline li {
    margin-left: 5px;
    margin-right: 5px;
}

.form-table .sbt-row-setting ul.sortable-row.display-inline li {
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.form-table .sbt-row-setting ul.sortable-row.display-inline li:first-child {

}

ul.sb-sortable-list.display-inline li.ui-state-highlight {
    margin-bottom: 0;
    padding: 0;
}

.sb-option .sb-sortable-list.active-sortable li {

}

.sb-sortable ul:first-child {

}

.sb-option .left {
    float: left;
}

.sb-option .right {
    float: right;
}

.sb-default-sidebar > img.sb-icon-delete,
.sb-default-sidebar > img.sb-icon-drag {
    cursor: default;
    opacity: 0.15;
}

.sb-option .sb-addable {
    padding-bottom: 40px !important;
}

.sb-option .min-height {
    min-height: 200px;
}

.sb-option .relative {
    position: relative;
}

.sb-option .absolute {
    position: absolute;
}

.sb-option .sb-addable button {
    bottom: 10px;
}

.sb-option .sb-addable .add-item {
    right: 10px;
}

.sb-option .sb-addable button.reset {
    left: 10px;
}

.sb-option .gray-bg {
    background-color: #f4f4f4;
}

.sb-option .gray-bg.border {
    border: 1px solid #e5e5e5;
}

.sb-option .padding-10 {
    padding: 10px;
}

.sb-option .width-50 {
    display: table-cell;
    width: 48%;
}

.sb-option .right {
    float: right;
}

.sb-option .sb-addable input {
    margin-bottom: 15px;
}

.sb-option .sortable-item {
    cursor: pointer;
}

.sb-option .sb-sortable-list li {
    background-color: #e6e6e6;
    border: 1px dashed #ccc;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 8px 10px;
}

.sb-option .sb-sortable-list li.ui-state-disabled {
    background-image: none;
    border-color: #d3d3d3;
    border-width: 1px;
    color: #555;
    cursor: default;
    font-weight: normal;
    opacity: 0.35;
}

.sb-option button.reset img {
    display: none;
    margin-left: 4px;
    vertical-align: -3px;
}

.sb-option button.reset img.active {
    display: inline-block;
}

.sb-option .switch-options label.right {
    float: none;
}

.nav-menu-meta .accordion-container .add-menu-item-tabs,
.nav-menu-meta .accordion-container .outer-border {
    padding: 0;
}

.sb-option .margin-bottom {
    margin-bottom: 20px;
}

.sb-option .hidden {
    display: none;
}

.sb-option .visible {
    display: block;
}

.sb-meta .block {
    display: block;
}
div.sb-post-meta-row {
    margin: 1em 0;
}
.sb-post-meta-editor label {
    margin-bottom: 10px;
}
div.sb-post-meta-row .image-preview {
    margin-top: 20px;
}
.sb-media-upload .image-upload-container input {
    margin-right: 5px;
    width: 60%;
}

.sb-media-upload .image-upload-container .button:last-child {
    margin-left: 5px;
}

.sb-media-upload .image-preview {
    margin-bottom: 10px;
}

.sb-media-upload .image-preview > img {
    max-height: 200px;
    max-width: 400px;
}

.widget .sb-widget > * {
    margin: 12px 0;
}

.widget .sb-media-upload .image-preview img,
.widget .sb-media-upload .image-preview {
    max-width: 100%;
}

.sb-media-upload .image-preview.has-image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: auto;
    width: auto;
}

.sb-option .sb-sortable-list.front-page-widget li {
    padding: 5px 10px;
}

.sb-widget fieldset input[type="radio"] {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: -4px;
}

.sb-widget fieldset p {
    margin-bottom: 5px;
    margin-top: 0;
}

.widget .sb-media-upload .image-preview {
    height: 230px;
}

.widget .sb-media-upload .image-preview.has-image {
    height: auto;
}

/* ================= Advanced Settings ================= */
.form-table td .sbt-row-setting p,
.sbt-row-setting p,
.sbt-row-setting {
    font-size: 13px;
}

.sb-theme-advanced-setting-section {

}

.sb-theme-checkout-setting-section .form-table th,
.sb-theme-advanced-setting-section .form-table th {
    display: none;
}

.sb-theme-checkout-setting-section .form-table td,
.sb-theme-advanced-setting-section .form-table td {
    padding-left: 0;
    padding-right: 0;
}

.sb-theme-advanced-setting-section .tab-content-item {
    display: none;
}

.sb-theme-advanced-setting-section .tab-content-item.active {
    display: block;
}

.sbt-row-setting label {
    float: left;
    margin: 0 0 5px 10px;
    width: 180px;
}

.sbt-row-setting input,
.sbt-row-setting select {
    margin: 0 3px 5px 5px;
    width: 400px;
}

.sbt-row-setting input {
    padding: 5px;
}

.sbt-row-setting input.width-small {
    width: 25%;
}

.sbt-row-setting input.width-super-small {
    width: 10%;
}

.form-table .sbt-row-setting .description {
    color: inherit;
    margin-bottom: 15px;
    margin-left: 195px;
    margin-top: -3px;
}

.sbt-row-setting h3 {
    border: medium none;
}

.sbt-row-setting .tab-content-inner {
    padding: 10px 0;
}

.sbt-row-setting .row-desc {
    margin-bottom: 10px;
}

.sbt-row-setting .row-setting-content {
    margin-top: 10px;
}

.sbt-row-setting label.checkbox-label {
    display: inline-block;
    float: none;
    margin-bottom: 15px;
    margin-left: 5px;
    vertical-align: top;
    width: auto;
}

.sbt-row-setting input[type="checkbox"] {
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto;
}

.sbt-row-setting .a-row {
    margin-bottom: 1.5em;
}

/* ================= User profile ================= */

.sb-theme-user-extra-information td .sb-birthday-field {
    margin: 0;
}

.sb-theme-user-extra-information td .sb-birthday-field .sep {
    margin: 0 10px;
}

/* ================= META BOX ================= */

.image-upload-url {
    max-width: 80%;
}

/* ================= Dashboard Widget ================= */

.sb-draft-post-widget li a.draft-post {
    font-weight: 400;
}

/* ================= Center ajax loading ================= */

.sb-ajax-loader.center {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sb-ajax-loader {
    display: none;
}

.sb-ajax-loader.center img {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-sizing: content-box;
    height: 32px;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    width: 32px;
}

.sb-ajax-loader.active {
    display: block;
}

.sbtheme-about .sb-version,
.sb-plugins .sub-tabs {
    color: #666;
}

.post-php .meta-box-sortables .administrative-boundaries,
.post-new-php .meta-box-sortables .administrative-boundaries {
    overflow: hidden;
}

.post-php .meta-box-sortables .administrative-boundaries .sb-term-field,
.post-new-php .meta-box-sortables .administrative-boundaries .sb-term-field {
    float: left;
    width: 50%;
}

.post-php .meta-box-sortables .administrative-boundaries .sb-term-field select,
.post-new-php .meta-box-sortables .administrative-boundaries .sb-term-field select {
    width: 90%;
}

.thumbnail-size > label {
    margin-right: 5px;
}

.thumbnail-size > span {
    margin-left: 5px;
    margin-right: 5px;
}

.sb-post-widget input[type="number"] {
    max-width: 100px;
}

.sb-post-widget .sb-number-field > label {
    margin-right: 5px;
}

#widgets-right .widgets-holder-wrap .sb-widget .description {
    color: #aaa;
    font-family: arial;
    font-size: 12px;
    font-style: italic;
    margin-top: 2px;
    padding: 0;
}

.sb-post-widget .thumbnail-info > div,
.sb-post-widget .post-info > div {
    margin-bottom: 2px;
}