body {
    max-width: 100%;
    width: 100%;
}
.sb-site {
}

.wrap {
    width: 95%;
}

.post .post-title {

}

.sb-comment-area .comment-respond textarea {
    max-width: 98%;
}

@media only screen and (max-width: 980px) {
    .sb-mobile-sidebar .button-control {
        display: block;
    }
    .subscribe .subscribe-guides {
        margin-right: 65px;
    }
    .subscribe .subscribe-email {
        width: 48%;
    }
    .subscribe .subscribe-submit {
        margin-right: 15%;
    }
}

@media only screen and (max-width: 800px) {
    .admin-bar .sb-mobile-sidebar {
        top: 46px;
    }
}

@media only screen and (max-width: 768px) {
    .sb-ads.leaderboard {
        display: none;
    }
    .subscribe .subscribe-email {
        width: 50%;
    }
}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {
    .author-wrap ul li {
        border: medium none;
        display: block;
        margin-bottom: 5px;
        padding: 0;
    }
    .subscribe .subscribe-email {
        width: 40%;
    }
    .subscribe .subscribe-submit {
        margin-right: 10%;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 563px) {

}

@media only screen and (max-width: 549px) {

}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {
    .comment-list,
    .sb-comment-area .children {
        padding-left: 0;
    }
    .subscribe .subscribe-submit {
        width: 30%;
        margin-right: 5%;
    }
    .subscribe .sub-icon {
        top: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .spaginate .spaginate-link, .spaginate .spaginate-current, .spaginate .spaginate-next, .spaginate .spaginate-prev {
        margin-bottom: 10px;
    }
    .subscribe .subscribe-submit {
        margin-right: 0;
        width: 100%;
    }
    .subscribe .subscribe-email {
        margin-bottom: 10px;
        width: 100%;
    }
    .subscribe .sub-icon {
        top: 40px;
    }
}

@media only screen and (max-width: 338px) {

}

@media only screen and (max-width: 330px) {

}

@media only screen and (max-width: 320px) {
    .subscribe .sub-icon {
        top: 50px;
    }
}